<div class="container-sm">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h3 class="navbar-brand">Arquivo</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="/arquivo/cadastrar">
                        <i class="fa-solid fa-plus"></i> Novo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/projeto">
                        <i class="fa-solid fa-angle-left"></i> Voltar
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Caminho</th>
            <th>Projeto</th>
        </tr>

        {{#each arquivos}}

            <tr>
                <td>{{id}}</td>
                <td>{{nome}}</td>
                <td>{{caminho}}</td>
                <td>{{projetoId}}</td>
                
            </tr>
            
        {{/each}}
    </table>
</div>
