<div>
    <form method="'post" action="../projeto/cadastrar">
        <fieldset>
            <legend>CADASTRO DE PROJETOS</legend>

            <div>
                <label for="">NOME</label>
                <input type="text" name="nome" id="disableTextInput" class="form-control" required>
            </div>
             
             <div class="row">
                    <div class="col mb-3">
                            <label for="disableTextInput" class="form-label">DESCRIÇÃO</label>
                            <input type="text" id="disableTextInput" name="descricao" class="form-label" required>
                    </div>
                    <div class="col mb-3">
                        <label for="disableTextInput" class="form-label">PRAZO</label>
                    </div>
             </div>

             <button type="submit" class="btn btn-success">SALVAR</button>

        </fieldset>
    </form>
</div>