<div class="col-md-5 mx-auto shadow p-3">
<form method="post" action="/projeto/salvar">
    <fieldset>

        <legend>Cadastro de projetos</legend>

            <label>Nome</label>
            <input name="nome" type="text" class="form-control">

            <label>Descrição</label>
            <input name="descricao" type="text" class="form-control">

            <label>Prazo</label>
            <input name="prazo" type="number" class="form-control">
            
            <button type="submit" class="btn btn-success mt-3">Salvar</button>

            <div class="text-center">
                <a href="/admin/index" class="btn btn-outline-primary">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>
            </div>

    </fieldset>
</form>
</div>