<h2 class="text-center mt-4">Editar Projeto</h2>

<div class="container mt-4">
    <div class="card p-4 shadow-sm">
        <form action="/projeto/atualizar/{{projeto.id}}" method="POST">
            <div class="mb-3">
                <label class="form-label">Nome:</label>
                <input type="text" class="form-control" name="nome" value="{{projeto.nome}}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Descrição:</label>
                <input type="text" class="form-control" name="descricao" value="{{projeto.descricao}}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Prazo:</label>
                <input type="number" class="form-control" name="prazo" value="{{projeto.prazo}}" required>
            </div>

            <div class="d-flex justify-content-between">
                <a href="/projeto" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
